@use "sass:list"; // Lista műveletek (nth, length, stb.)
@use "sass:math"; // Matematikai műveletek (random, round, stb.)


@function random($min, $max) {
    @if ($min > $max) {
        @error "Invalid arguments: $min must be less or equal to $max"
    }
   
    @return math.random(($max - $min) + 1) + $min - 1;
}

// Véletlen elem kiválasztása egy listából
@function choose($list) {
  // list.nth($list, index) → elem kiválasztása index alapján
  @return list.nth($list, math.random(list.length($list)));
}

// lásd a debug eredményét a terminálban
@debug random(1, 5);
@debug choose(apple banana cherry);
