@use "util";
@use "dancing-letters";

// TODO: Definiálj egy színlistát

// TODO: Generálj stílusokat minden betűhöz (@for ciklus)
// - Véletlen szín a listából
// - Véletlen forgatás -15 és 15 fok között
