// Body centrálása - Flexbox módszer
body {
  display: flex;
  align-items: center; // Függőleges középre igazítás
  height: 100vh;
  justify-content: center; // Vízszintes középre igazítás
  margin: 0; // Böngésző alapértelmezett margó törlése
}

.dancing-letters {
  font-family: sans-serif;
  font-size: 300%;
  font-weight: bold;

  // A JavaScript által generált <span> elemek stílusai
  // & = parent selector (.dancing-letters)
  // > = közvetlen gyerek (direct child)
  & > span {
    box-shadow: 0 0 0.25em black;
    color: white;
    display: inline-block; // FONTOS! inline elemek NEM forgathatók!
    // inline-block-kal lesz saját mérete, lehet margója/paddingje, viszont nem kerül új sorba automatikusan
    margin: 0.25em;
    padding: 0.25em;
  }
}
