@use "util"; // choose() és random() függvényekhez
@use "dancing-letters"; // Alap stílusok importálása

// Sass lista: vesszővel elválasztott értékek
$rainbow: red, orange, yellow, green, blue, indigo, violet;

.dancing-letters {
  @for $i from 1 through 16 {
    // #{$i} = változó interpoláció
    & > span:nth-child(#{$i}) {
      // util.choose($rainbow) → véletlen szín a listából
      // Lehet ugyanaz a szín többször is!
      background-color: util.choose($rainbow);

      // Véletlen forgatás -15° és 15° között
      transform: rotate((util.random(-15, 15)) + deg);
    }
  }
}
