body {
  font-family: sans-serif;
}

main {
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
}

div.images {
  background-color: aliceblue;
}

div.images > img {
  box-shadow: 0 0 0.25rem darkblue;
}
